<main class="rightmenu">
    <div class="content">
        <ul>
            <a routerLink="discover-people">
                <li routerLinkActive="active">
                    <mat-icon>emoji_people</mat-icon><span>&nbsp; Discover People</span>
                </li>
            </a>
            <!-- <a routerLink="pages"><li routerLinkActive="active"><mat-icon>emoji_people</mat-icon><span>&nbsp; Pages</span></li></a>
            <a routerLink="likes"><li routerLinkActive="active"><mat-icon>emoji_people</mat-icon><span>&nbsp; Recent likes</span></li></a>
            <a routerLink="come"><li routerLinkActive="active"><mat-icon>emoji_people</mat-icon><span>&nbsp; Recent Commnts</span></li></a>
            <a routerLink="likes"><li routerLinkActive="active"><mat-icon>emoji_people</mat-icon><span>&nbsp; Saves</span></li></a>
            <a routerLink="likes"><li routerLinkActive="active"><mat-icon>emoji_people</mat-icon><span>&nbsp; Dark Mode</span></li></a> -->

            <!-- <li>
                <mat-slide-toggle (change)="changeMode($event)">Dark Mode</mat-slide-toggle>
            </li> -->

            <a routerLink="settings">
                <li routerLinkActive="active">
                    <mat-icon>settings</mat-icon><span>&nbsp; settings</span>
                </li>
            </a>
        </ul>
        <div class="d-none d-md-block">
            <app-add></app-add>
        </div>

    </div>

</main>