
.add-text-story{
    margin: 100px;
}
.textarea{
    /* margin:100px; */
    height: calc(100vh - 280px);
    width:calc(100%);
    overflow: hidden;
    background:linear-gradient(dodgerblue,var(--dark));
    box-sizing: border-box;
    font-style: "sans-serif";
    border-radius: 6px;
    text-align: center;
    
    font-size: 1.3em;
    font-weight: 500;
    border: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.save{
    position: absolute;
    right: 410px;
    top: 60px;
    color: white;
    padding: 10px 20px;
    border: none;
    background-color: var(--light);
    border-radius: 6px;
}
.textarea:focus{
    outline: none;
}
.save:disabled{
    opacity: 0.5;
}
.save:active{
    outline: none;
}