.myposts{
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
}
.myposts img{
    width: 100%;
    border-radius: 2px;
}
.myposts img:hover{
    box-shadow: 0 0 10px black;
}
.mat-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.mat-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--light);
}
@media screen and (max-width: 768px){
    .myposts{
      grid-template-columns:repeat(3,1fr);
    }
}