.home{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 80px 1fr 400px;
}
@media screen and (max-width: 768px){
    .home{
        display: block;
    }
  app-rightmenu{
      display: none;
  }
  }