.discover {
    padding: 20px;
}

.search input {
    width: 100%;
    background-color: inherit;
    box-sizing: border-box;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    border: 2px solid #c133ff;
    color: var(--text);
}

.search input:focus {
    outline: none;
    border: 2px solid #c133ff;
    box-shadow: 0 0 6px #c133ff;
}

.mat-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -25px;
}

.mat-spinner ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #c133ff;
}

@media screen and (max-width: 768px) {
    .content {
        margin-bottom: 60px;
    }
}