.login{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    margin-top: 30px;
    /* align-items: center; */
}
.sphere{
    width:20px;
    border-radius: 20px;
    height: 50px;
    border: 1px solid var(--dark);
    box-shadow: inset 2px 0 14px  var(--light);
}
.brand{
    font-size: 40px;
    font-weight: 600;
    margin-left: 5px;
    color: var(--light);
}
.quote{
    margin-top: 10px;
    font-size: 40px;
    line-height: 55px;
    color: rgba(0,0,0,0.83);
}
.signup{
    display: block;
    margin-top: 20px;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    width: 50px;
    border-radius: 19px;
    color: white;
    background-color: var(--gold);
}
.signup:hover{
    box-shadow: 0 0 8px var(--gold);
}
.form{
    margin-left: 15px;
    padding:30px 20px;
    border: 1px solid gainsboro;
    border-radius: 4px;
}
.form input{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid dodgerblue;
    display: block;
    width: 240px;
    box-sizing: border-box;
}
.form input:focus{
    outline: 2px solid dodgerblue;
}
.form label{
    margin: 10px 0px;
    display: block;
    font-size: small;
}
.login-btn{
    width: 240px;
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: var(--dark);
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.login-btn:active{
    box-shadow: 0 0 6px var(--light);
}
.login-btn:hover{
    box-shadow: 0 0 6px var(--light);
}
.error{
    color:crimson;
    font-size: small;
    font-weight: 500;
}
.login-btn:disabled{
    opacity: 0.5;
}
.loging{
    text-align: center;
    font-size: small;
    margin-top: 10px;
}

@media screen and (max-width: 768px){
  .login{
      display: block;
      padding: 15px;
      height: 100vh;
      box-sizing: border-box;
      overflow: hidden;
  }
  .quote,.signup,.sphere{
      display: none;
  }
  .form{
      margin: auto;
      border: 0;
  }
}