app-loading {
    display: block;
    margin: -20px -40px 0px -40px;
}

.posts {
    background-color: var(--back);
}

.add-comment {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.comm-body {
    padding: 15px;
    background-color: white;
    width: 600px;
    border-radius: 10px;
    /* height: 280px; */
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 3px;
}

.comment {
    width: 100%;
    height: 130px;
    background-color: var(--back);
    color: var(--text);
    box-sizing: border-box;
    padding: 20px;
    font-size: large;
    font-style: "sans-serif";
    border: none;
    resize: none;
}

.comment:focus {
    outline: none;
}

.comm-btn {
    color: white;
    background-color: #c133ff;
    float: right;
    margin: 10px 0px;
    border-radius: 20px;
}

.comm-btn:disabled {
    opacity: 0.9;
}

.just-text {
    display: block;
    color: var(--dark);
    margin-bottom: 15px;
}

.nopost {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nopost div {
    text-align: center;
}

.nopost img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.nopost h1 {
    font-size: xx-large;
}

.nopost p {
    font-size: large;
}

.nopost a {
    color: var(--light);
    border: 2px inset var(--light);
}

.loading {
    display: flex;
    justify-content: center;
    padding: 15px;
}

@media screen and (max-width: 768px) {

    /* app-stories{
       display: none;
   } */
    app-loading {
        margin: 0;
    }

    .empty {
        display: none;
    }

    .posts-content {
        box-sizing: border-box;
        /* margin-bottom: 160px; */
    }

    .p {
        padding-bottom: 55px;
    }

    .just-text {
        display: none;
    }

    .add-comment {
        box-sizing: border-box;
        padding: 0px 10px;
    }
}