<main class="sidemenu">
    <ul>
        <a routerLink="posts"><li routerLinkActive="active"><mat-icon>wysiwyg</mat-icon><small>Posts</small></li></a>
        <a routerLink="search"><li routerLinkActive="active"><mat-icon>search</mat-icon><small>Search</small></li></a>
        <a routerLink="alerts"><li routerLinkActive="active"><mat-icon>notifications</mat-icon><small>Alerts</small></li></a>
        <a routerLink="add-post"><li routerLinkActive="active"><mat-icon>add_box</mat-icon><small>Add</small></li></a>  
        <a routerLink="settings" class="setting"><li routerLinkActive="active"><mat-icon>settings</mat-icon><small>settings</small></li></a>  
    </ul>
 </main>
