.sidemenu {
  width: 100%;
  list-style: none;
  align-items: center;
  padding: 0%;
  height: 100vh;
  position: fixed;
  width: 23%;
  max-width: 350px;
  /* background-color: white; */
}

.dp {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.sidemenu a {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  width: 100%;
  display: block;
}

.sidemenu li {
  display: flex;
  align-items: center;
}

.sidemenu h6 {
  margin-top: 10px;
  margin-left: 10px;
}

.active {
  color: #c133ff;
}