





.sidemenu{
    height: 100vh;
    width: 80px;
    background-color: white;
    position: fixed;
    border-right: 1px solid gainsboro;
}
.sidemenu small{
    display: block;
}
.sidemenu a{
    text-decoration: none;
    font-weight: 520;
    color: var(--dark);
    display: block;
}
.sidemenu ul li{ 
    list-style: none;
    padding: 15px;
    text-align: center;
    margin: auto;
}

.sidemenu li:hover{
    background-color: gainsboro;
}

  .active{
    border-top: 0;
    border-left: 3px solid var(--dark);
  }
@media screen and (max-width: 768px){
   .sidemenu{
     border-top: 1px solid gainsboro;
     height: 50px;
     width: 100%;
     bottom: 0;
     z-index: 100;
   }
    .sidemenu ul li{
      margin: 0;
      display: inline-block;
      padding: 10px;
      box-sizing: border-box;
      width: 25%;
      height:50px;
    }
    .sidemenu a{
      display: inline;
      margin: 0;
    }
    .sidemenu li:hover{
      background-color: inherit;
  }
   .sidemenu small{
     display: none;
   }
   
  .active{
    border-left: 0;
    border-top: 3px solid var(--dark);
  }
  }