.profile{
    padding: 10px;
    padding-bottom: 60px;
    /* overflow-y: auto; */
    box-sizing: border-box;
    /* height: calc(100vh - 50px); */
}
.name{
    text-transform: capitalize;
    font-size: x-large;
}
.cover{
    border-radius: 15px;
    width: 100%;
    height: 230px;
    border: .8px solid #eee;
}
.dp{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: relative;
    top: -85px;
    left: 30px;
}
.user-details{
    box-sizing: border-box;
    padding: 10px;
    margin-left:200px ;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.follow-btn{
 border: none;
 height: 40px;
 padding: 10px 40px;
 background:var(--light) ;
 color: white;
 border-radius: 5px;
}
.showdp{
    position: fixed;
    height: 100%;
    width:100%;
    left: 0px;
    top: 0px;
    background: var(--bg);
    z-index: 300;
}

.showdp-body,.imgPre{
    position: fixed;
    left: calc(50% - 360px);
    margin-top: 20px;
    background-color:white ;
    width: 500px;
    border: 1px solid gainsboro;
}
.imgPre{
    overflow-x: hidden;
    height: 540px;
}
.showdp img{
    width: 500px;
}
.top-bar{
    position: sticky;
    top:0px;
    z-index: 7;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-bar p{
    margin-left: 15px;
}
.close{
    color: red;
}
.close:hover{
    background-color: red;
    color: white;
}
.progress-bar{
    position: sticky;
    top: 0px;
    z-index: 7;
}
button:disabled{
    opacity: 0.4;
}
.follow-btn:active{
    box-shadow: 0 0 6px var(--light);
}
.pcontent{
    margin-top: -170px;
}
.numbers{
    display: flex;
    justify-content: center;
}

.numbers b{
    font-size: xx-large;
}
.numbers a{
    display: block;
    padding: 18px;
    text-align: center;
    color: black;
}
.numbers p{
  font-size: small;
}
.numbers a:hover{
   transform: scale(1.1);
} 

@media screen and (max-width: 768px){
    .showdp{
      width: 100%;
      z-index: 200;
     }
     .top-bar{
       height: 50px;
     }
    .showdp-body,.imgPre{
      left: 0;
      height: 100vh;
      width: 100%;
      margin-top: 0;
      top: 0;
      z-index: 200;
    }
    .showdp img{
      width: calc(100% - 10px);
      margin:10px 5px;
    }
    .cover{
      height: 150px;
    }
    .dp{
      width:120px;
      height: 120px;
      left:15px;
      top:-60px;
    }
    .user-details{
      display: block;
      margin-top: 50px;
      margin-left: 135px;
    }
    .name{
      font-size:large;
    }
    .follow-btn{
      margin-top: 15px;
    }
  }