
<main class="post" [style.background]="deleting && 'gainsboro' ">
   <div class="dp">
    <a  [routerLink]="['/home/profile/',postdata.postedby._id]">
        <img class="profile-img" [src]="imageurl+postdata.postedby.dp" >
        </a>
   </div>
   <div class="content">
    <div class="post-header">
       <div> <b>{{postdata.postedby.name}}</b>&nbsp;  <small>{{formatDate(postdata.datetime,postdata.now)}}</small></div>
       <div class="menu">
        <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button class="delete-btn" *ngIf="userdata.id===postdata.postedby._id" (click)="deletePost(postdata._id)" [disabled]="deleting"  mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button class="delete-btn" mat-menu-item>
              <mat-icon>close</mat-icon>
              <span>cancel</span>
            </button>
          </mat-menu>
          
       </div>
    </div>
    <div class="post-body">
        <a [routerLink]="['/home/comment/',postdata._id]">
        <p *ngIf="postdata.text" class="text">{{postdata.text}}</p>
          <img *ngIf="postdata.image" [src]="imageurl+postdata.image" alt="">
        </a>
    </div>
    <div class="post-footer">
        <button id="like" [disabled]="reacting" mat-icon-button *ngIf="!postdata.ilike" (click)="doReact('like')"><mat-icon>favorite_border</mat-icon></button>
        <button id="like" [disabled]="reacting" mat-icon-button *ngIf="postdata.ilike" (click)="doReact('unlike')" style="color:red"><mat-icon>favorite</mat-icon></button>
        <small>{{postdata.likes}}</small>
        <button mat-icon-button (click)="saveComment()"><mat-icon>chat_bubble_outline</mat-icon></button>
        <small>{{postdata.comments}}</small>
      </div>
   </div>
   <small style="color:red" *ngIf="deleting">deleting....</small>
</main>





