<main class="comments" id="posts">
    <section class="single-post">
        <app-single-post (postedby)="getPostedBy($event)"></app-single-post>
    </section>
    <div class="mat-spinner" *ngIf="isLoading">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <section class="comment-body" *ngIf="!isLoading">
        <div class="comm-input-box">
            <table width="100%">
                <tr>
                    <td width="50px">
                        <a [routerLink]="['/home/profile/',userdata.id]">
                            <img class="dp" [src]="userdata.dp ? imageurl+userdata.dp : '../../../../assets/dp.png'"
                                alt="">
                        </a>
                    </td>
                    <td>
                        <textarea maxlength="500" [(ngModel)]="comment"
                            [style.border]="comment.length>=500 ? '1px solid red' : ''" id="scroll" class="comment"
                            placeholder="Add comment"></textarea>
                    </td>
                    <td>
                        <button [disabled]="saving" *ngIf="comment" mat-raised-button class="comm-btn"
                            (click)="saveComment()">comment</button>
                    </td>
                </tr>
            </table>
        </div>

        <app-single-comment *ngFor="let d of data; let i=index" [data]="d" [index]="i"></app-single-comment>
        <div class="mat-spinner loadMore" *ngIf="loadOnScroll">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div>
    </section>
</main>