.setting{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.personal{
    padding: 16px;
    margin: 10px;
    border-radius: 9px;
    border: 1px solid silver;
}
.title{
    font-weight: 560;
    color: var(--dark);
}
label{
    display: block;
    font-size: small;
    margin: 10px 0px;
}
.input{
    border: 1px solid var(--dark);
    width: 100%;
    padding: 10px 16px;
    border: 1px solid silver;
    border-radius: 5px;
    box-sizing: border-box;
}
.textarea{
    width: 100%;
    min-height: 140px;
    border: none;
    resize: none;
}
.input:focus{
    outline: none;
    border: 1px solid var(--light);
}
.textarea:focus{
    outline: none;
}
.logout{
    width: 90%;
    display: block;
    color: white;
   margin: auto;
    background-color: crimson;
}

@media screen and (max-width: 768px){
  .setting{
      display: block;
  }
  .main{
    padding-bottom: 60px;

  }
}