.setting{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}
.personal{
    padding: 16px;
    margin: 10px;
    border-radius: 9px;
    border: 1px solid silver;
}
.title{
    font-weight: 560;
    color: var(--dark);
}
label{
    display: block;
    font-size: small;
    margin: 10px 0px;
}
.input{
    border: 1px solid var(--dark);
    width: 100%;
    padding: 10px 16px;
    border: 1px solid silver;
    border-radius: 5px;
    box-sizing: border-box;
}
.textarea{
    width: 100%;
    min-height: 140px;
    padding:10px;
    box-sizing: border-box;
    border: 1px solid silver;
    resize: none;
}
.input:focus{
    outline: none;
    border: 1px solid var(--light);
}
.textarea:focus{
    outline: none;
}
.logout{
    width: calc(100% - 40px);
    display: block;
    color: white;
    box-sizing: border-box;
   margin:0px auto;
    background-color: crimson;
}
.delete{
    padding: 20px;
    border: 1px solid red;
    background-color: #ffd5d5;
    border-radius: 10px;
    margin: 20px;
}
.input:disabled,.textarea:disabled{
 border: none;
 color: black;
}

.askpass{
    position: fixed;
    width: calc(100% - 480px);
    height: 100%;
    z-index: 5;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
}
.askpass div{
    margin-top: 40px;
    background-color:white;
    padding: 14px;
    border-radius: 9px;
    width: 340px;
    height: 150px;
}
.success{
    color: green;
    background: #ceffce;
    border: 1px solid green;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    font-size: small
}
@media screen and (max-width: 768px){
  .setting{
      display: block;
  }
  .main{
    padding-bottom: 60px;

  }
  .askpass{
      width: 100%;
  }
}