/* .signup{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 80%;
}
.signup-body{
    display: grid;
    width: 950px;
    padding: 20px;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr;
}
.left{
    display: flex;
    margin-top: 30px;
}
.image{
    width: 360px;
}
.sphere{
  width:20px;
  border-radius: 20px;
  height: 50px;
  border: 1px solid #0b5a5c;
  box-shadow: inset 2px 0 14px  #097779;
}
.brand{
  font-size: 40px;
  font-weight: 600;
  margin-left: 5px;
  color: #097779;
}
label{
    display: block;
    font-size: small;
    margin: 8px 0;
}
h3{
    margin: 15px 0px;
}
input,select{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid silver;
    width: 100%;
}
td{
    padding: 0px 20px;
}
.signup-btn,.login-btn{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: var(--gold);
}
.signup-btn{
padding: 15px;
}
.login-btn{
    background-color: #097779;
    display: block;
    width: 70px;
    text-align: center;
    border-radius: 20px;
}
.login-btn:hover{
    box-shadow: 0 0 5px var(--light);
}
.signup-btn:hover{
    box-shadow: 0 0 5px var(--gold);
}
.signup-btn:disabled{
    opacity: 0.4;
}
input:focus,select:focus{
    outline: none;
    border: 1px solid var(--light);
}
.form small{
    color: red;
    display: block;
}
.error{
    margin: 0 auto;
    box-sizing: border-box;
    color: red;
    padding: 10px;
    width: calc(100% - 40px);
    border-radius: 6px;
    font-size: small;
    border: 1px solid red;
    background-color: #f3c0c0;
}
.loging{
    text-align: center;
    font-size: small;
    margin-top: 10px;
}

@media screen and (max-width: 768px){
 .signup{
   height: 100%;
   display: block;
 }
 .signup-body{
   display: block;
   width: 100%;
   box-sizing: border-box;
 }
 .image,h3{
   display: none;
 }
 .left{
   margin-top: 0px;
 }
 td{
   display: block;
 }
 .login-btn{
   float: right;
   margin-top: -40px;
 }
 .form{
   padding: 15px 0px;
 }
 .firstname-mobile{
   margin-top: -78px;
 }
  .lastname{
    display: block;
    margin-top: 20px;
  }
 .lastname-mobile{
   margin-top: 70px;
 }
} */







.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  color: white;
}


.inner-header {
  height: 75vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.form {
  text-align: left;
  width: 300px;
}

.font {
  font-family: 'Redressed', cursive;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: fixed;

  width: 100%;
  text-align: center;
}

label {
  font-size: small;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }

  .form {
    width: 80%;
  }

  .content {
    bottom: -100px;
  }

  .inner-header {
    height: 80vh;
  }
}