.loading ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #c133ff;
}

.loading {

    height: calc(100vh - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
}