@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Redressed&display=swap');
:root{
  --darkb:#03071e;
  --dark:#0b5a5c;
  --light:#097779;
  --lightb: #050c30;
  --gold:#e85d04;
  --bg:rgba(0,0,0,0.4);
  /* --text:white;
  --back:black; */
}
*{
    padding: 0;
    margin: 0;
}
html, body {
   height: 100%;
   }
body {
   margin: 0;
   font-family: 'Noto Sans', sans-serif;
   overflow: auto;
 }
a{
  text-decoration: none;
}
#scroll::-webkit-scrollbar{
  width:10px;
}
#scroll::-webkit-scrollbar-track{
  width:10px;
  background-color: white;
  border-radius: 50px;
}
#scroll::-webkit-scrollbar-thumb{
  width:6px;
  background-color: var(--light);
  border-radius: 20px;
}
.font{
  font-family: 'Redressed', cursive;
}
button:disabled{
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root{
    --text:white;
    --back:#0c0c0c;
    --line:black;
    --dark:white;
    --light:white;
  }
 body{
   background-color: var(--back);
   color: var(--text);
 }
}

@media (prefers-color-scheme: light) {
  :root{
    --text:black;
    --back:white;
    --line:gainsboro;
  }
  body{
    background-color: var(--back);
    color: var(--text);
  }
}

