@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Redressed&display=swap');

:root {
  --darkb: #03071e;
  --dark: #0b5a5c;
  --light: #097779;
  --lightb: #050c30;
  --gold: #e85d04;
  --bg: rgba(0, 0, 0, 0.4);

  /* --text:white;
  --back:black; */
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow: auto;
  background-color: #e7e7e7;
}

a {
  text-decoration: none;
}

.a {
  text-decoration: underline;
  color: dodgerblue;
}

#scroll::-webkit-scrollbar {
  width: 10px;
}

#scroll::-webkit-scrollbar-track {
  width: 10px;
  background-color: white;
  border-radius: 50px;
}

#scroll::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: gainsboro;
  border-radius: 20px;
}

.myfont {
  font-family: 'Redressed';
}

button:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  body {
    background-color: white;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root{
    --text:white;
    --back:#1d1d1d;
    --line:black;
    --dark:white;
    --light:white;
    --headerBg:#0f0f0f;
  }
 body{
   background-color: var(--back);
   color: var(--text);
 }
}

@media (prefers-color-scheme: light) {
  :root{
    --text:black;
    --back:white;
    --line:gainsboro;
    --headerBg:white;
  }
  body{
    background-color: var(--back);
    color: var(--text);
  }
} */