

<main class="stories" id="scroll">
    <a routerLink="/home/story/add" mat-button class="add">
        + Add your Story
    </a>
    <br>
    <div class="story">
        <!-- <table>
            <tr>
                <td width="40px">
                    <img src="https://i.pinimg.com/originals/6f/de/85/6fde85b86c86526af5e99ce85f57432e.jpg">
                </td>
                <td>
                    <div>
                        <b>Arvind kumar  ( 66 )</b><br>
                        <small>Just Now</small>
                    </div>
                </td>
            </tr>
        </table> -->
    </div>
</main>