

<main class="stories" id="scroll">
    <a routerLink="/home/story/add" mat-button class="add">
        + Add your Story
    </a>
    <br>
    <div class="story">
        <table>
            <tr *ngFor="let d of data" (click)="view(d._id)">
                <td width="40px">
                    <img [src]="imageurl+d.dp">
                </td>
                <td>
                    <div>
                        <b>{{d.name}}  ( {{d.stories}} )</b><br>
                        <small>{{formatDate(d.latest)}}</small>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</main>