
.header{
    background-color: white;
    box-sizing: border-box;
    color: var(--dark);
    padding: 10px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 100;
    border-left: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.header b{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'Redressed', cursive;
}
.left{
  display: none;
}


@media screen and (max-width: 768px){
.left{
  display: flex;
  align-items: center;
}
.myprofile img{
  display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.myprofile{
  display: flex;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}
  
}
