.show-story{
       margin:100px;
       height: calc(100vh - 280px);
       /* width:calc(100% ); */
       overflow: hidden;
       background:linear-gradient(dodgerblue,var(--dark));
       box-sizing: border-box;
       border-radius: 6px;
       font-size: 1.3em;
       font-weight: 500;
       display: flex;
       justify-content: center;
       align-items: center;
       
}
.user{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0)) ;
    width: calc(100% - 680px);
    box-sizing: border-box;
    padding: 7px;
    /* height: calc(100vh - 280px); */
    position: absolute;
    
    margin:100px;

}
.dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.buttons{
    width: calc(100% - 680px);
      height: calc(100vh - 280px);
      position: absolute;
      display: flex;
      margin:100px;
  
}
.left,.right{
    height: 100%;
    width: 50%;
}
.timer{
    width: calc(100% - 680px);
    display: flex;
    position: absolute;
    margin: 97px;
}
.timer mat-progress-bar{
margin: 6px;
}
/* .right{
    background-color: yellow;
}
.left{
    background-color: aqua;
} */