<div class="imgprev" *ngIf="showbox">
  <button mat-icon-button style="float: right;" (click)="close()"><mat-icon>close</mat-icon></button>
  <div class="img-cont">
    <p style="color: white;text-align: center;" *ngIf="!imgsrc">loading wait....</p>
    <img [src]="imgsrc" *ngIf="imgsrc" alt="image prev">
  </div>
  <button mat-icon-button class="done" (click)="selected()"><mat-icon>done</mat-icon></button>
</div>


<main class="add">
  <section class="add-table">
    <table width="100%">
      <tr>
        <td width="60px" style="height: 70px;">
          <a [routerLink]="['/home/profile',userdata.id]">
            <img [src]="imageurl+userdata.dp" alt="" class="dp">
          </a>
        </td>
        <td>
          <b class="name">{{userdata.name}}</b>
        </td>
        <td width="70px">
          <img *ngIf="imgsrc" [src]="imgsrc" alt="selected img" class="selectedimg">
          <button *ngIf="imgsrc" mat-icon-button [disabled]="saving" style=" position: absolute; left: 780px; top:55px;" (click)="close()"><mat-icon>close</mat-icon></button>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <textarea id="scroll" placeholder="whats going on...." class="post" [(ngModel)]="text"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="btns">
            <button mat-icon-button [disabled]="saving"><label for="file" ><mat-icon style="position: relative;top: 7px;">image</mat-icon></label></button>
            <input type="file" id="file" style="display: none;" accept="image/*" (change)="setImage($event)"/>
            <button mat-button class="share-btn" [disabled]="saving" (click)="share()">share</button>
          </div>
        </td>
      </tr>
    </table>
  </section>
  <div class="saving">
    {{savingMsg}}<small *ngIf="uploadingProgress>0">&nbsp; {{uploadingProgress}} %</small>
  </div>
</main>



<!-- <main class="add">
    <form *ngIf="!imageChangedEvent" >
        <label for="file"><mat-icon>upload</mat-icon><p> Upload</p></label>
        <input type="file" id="file" name="file" (change)="postUpload($event)" accept="image/*" />
        <h4 style="color: green;margin-top: 10px;" *ngIf="imgUploaded">{{imgUploaded}}</h4>
    </form>
    <div class="imgPre" *ngIf="imageChangedEvent">
        <image-cropper
          *ngIf="!uploading"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          (imageCropped)="imageCropped($event)"
          ></image-cropper>
        <img *ngIf="uploading" [src]="croppedImage"  class="preview" />
      </div>
      <div class="uploader" *ngIf="uploading">
        <mat-progress-bar  [value]="uploadingProgress"></mat-progress-bar>
    
        <small> {{uploadingProgress}} %</small>
      </div>
      <button *ngIf="imageChangedEvent && !uploading " (click)="share()" class="share">share</button>
      <button *ngIf="imageChangedEvent  " (click)="cancel()" class="share" style="background-color: crimson;">cancel</button>

    </main> -->
